/* NOTE: the inspector tools for css-grid are better in Firefox than Chrome */
/* NOTE: if you are changing complex grid, make/comment-out copy, and make changes gradually */
/* NOTE: columns/rows need to match area */
/* NOTE: no duplicate area-names in the area section */

/* 
NOTE: psychologically a reader tends to read a multi line table as 
1) row one left to right
2) column one top to bottom
3) item at bottom-right
Take away is to order your more important items as such
example for 3x3 order as:
priority1 priority2 priority3
priority4 priority9 priority7
priority5 priority8 priority6
(my guess for priority7-9)
*/

.box {
  margin: 10px;
  padding: 5px;
  /* DEBUG: uncomment to see boxes around pieces */
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
}

.resume {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "overview"
    "workhistory"
    "education"
    "learning"
    "awards";
}

@media (min-width: 1200px) {
  .resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "header overview"
      "workhistory education"
      "learning awards";
    grid-gap: 5px;
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header_fullname"
    "header_contact";
}

.header_fullname {
  grid-area: header_fullname;
  margin: auto; /* center horizontally */
}

.header_contact {
  grid-area: header_contact;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header_contact_cell header_contact_seperator1 header_contact_address header_contact_seperator2 header_contact_email header_contact_seperator3 header_contact_linkedin";
}

.header_contact_cell {
  grid-area: header_contact_cell;
}

.header_contact_seperator1 {
  grid-area: header_contact_seperator1;
  margin: auto; /* center horizontally */
}

.header_contact_address {
  grid-area: header_contact_address;
}

.header_contact_seperator2 {
  grid-area: header_contact_seperator2;
  margin: auto; /* center horizontally */
}

.header_contact_email {
  grid-area: header_contact_email;
}

.header_contact_seperator3 {
  grid-area: header_contact_seperator3;
  margin: auto; /* center horizontally */
}

.header_contact_linkedin {
  grid-area: header_contact_linkedin;
}

.header_contact_hr {
  width: 100%;
}

.overview {
  grid-area: overview;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_titlearea"
    "overview_summaryarea"
    "overview_qualificationsarea"
    "overview_skillsarea";
}

.overview_titlearea {
  grid-area: overview_titlearea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_titlearea_title"
    "overview_titlearea_subtitle";
}

.overview_titlearea_title {
  grid-area: overview_titlearea_title;
  margin: auto; /* center horizontally */
}

.overview_titlearea_subtitle {
  grid-area: overview_titlearea_subtitle;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1rf;
  grid-template-rows: 1fr;
  grid-template-areas: "overview_subtitlearea_left overview_subtitlearea_part1 overview_subtitlearea_seperator1 overview_subtitlearea_part2 overview_subtitlearea_seperator2 overview_subtitlearea_part3 overview_subtitlearea_seperator3 overview_subtitlearea_part4 overview_subtitlearea_right";
}

.overview_subtitlearea_left {
  grid-area: overview_subtitlearea_left;
}

.overview_subtitlearea_part1 {
  grid-area: overview_subtitlearea_part1;
}

.overview_subtitlearea_seperator1 {
  grid-area: overview_subtitlearea_seperator1;
}

.overview_subtitlearea_part2 {
  grid-area: overview_subtitlearea_part2;
}

.overview_subtitlearea_seperator2 {
  grid-area: overview_subtitlearea_seperator2;
}
.overview_subtitlearea_part3 {
  grid-area: overview_subtitlearea_part3;
}
.overview_subtitlearea_seperator3 {
  grid-area: overview_subtitlearea_seperator3;
}
.overview_subtitlearea_part4 {
  grid-area: overview_subtitlearea_part4;
}
.overview_subtitlearea_right {
  grid-area: overview_subtitlearea_right;
}

.overview_summaryarea {
  grid-area: overview_summaryarea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_summaryarea_description"
    "overview_summaryarea_list";
}

.overview_summaryarea_description {
  grid-area: overview_summaryarea_description;
  margin: auto; /* center horizontally */
}

.overview_summaryarea_list {
  grid-area: overview_summaryarea_list;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_summaryarea_list_item1"
    "overview_summaryarea_list_item2"
    "overview_summaryarea_list_item3"
    "overview_summaryarea_list_item4";
  grid-gap: 0px;
}
.overview_summaryarea_list_item1 {
  grid-area: overview_summaryarea_list_item1;
}
.overview_summaryarea_list_item2 {
  grid-area: overview_summaryarea_list_item2;
}
.overview_summaryarea_list_item3 {
  grid-area: overview_summaryarea_list_item3;
}
.overview_summaryarea_list_item4 {
  grid-area: overview_summaryarea_list_item4;
}

.overview_qualificationsarea {
  grid-area: overview_qualificationsarea;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_qualificationsarea_title"
    "overview_qualificationsarea_list";
  grid-gap: 0px;
}

.overview_qualificationsarea_title {
  grid-area: overview_qualificationsarea_title;
  margin: auto; /* center horizontally */
}

.overview_qualificationsarea_list {
  grid-area: overview_qualificationsarea_list;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "overview_qualificationsarea_list_item1 overview_qualificationsarea_list_item2 overview_qualificationsarea_list_item3"
    "overview_qualificationsarea_list_item4 overview_qualificationsarea_list_item9 overview_qualificationsarea_list_item7"
    "overview_qualificationsarea_list_item5 overview_qualificationsarea_list_item8 overview_qualificationsarea_list_item6";
  grid-gap: 0px;
}
.overview_qualificationsarea_list_item1 {
  grid-area: overview_qualificationsarea_list_item1;
}
.overview_qualificationsarea_list_item2 {
  grid-area: overview_qualificationsarea_list_item2;
}
.overview_qualificationsarea_list_item3 {
  grid-area: overview_qualificationsarea_list_item3;
}
.overview_qualificationsarea_list_item4 {
  grid-area: overview_qualificationsarea_list_item4;
}
.overview_qualificationsarea_list_item5 {
  grid-area: overview_qualificationsarea_list_item5;
}
.overview_qualificationsarea_list_item6 {
  grid-area: overview_qualificationsarea_list_item6;
}
.overview_qualificationsarea_list_item7 {
  grid-area: overview_qualificationsarea_list_item7;
}
.overview_qualificationsarea_list_item8 {
  grid-area: overview_qualificationsarea_list_item8;
}
.overview_qualificationsarea_list_item9 {
  grid-area: overview_qualificationsarea_list_item9;
}

.overview_skillsarea {
  grid-area: overview_skillsarea;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_skillsarea_title"
    "overview_skillsarea_list";
  grid-gap: 0px;
}

.overview_skillsarea_title {
  grid-area: overview_skillsarea_title;
  margin: auto; /* center horizontally */
}

.overview_skillsarea_list {
  grid-area: overview_skillsarea_list;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_skillsarea_list_line1"
    "overview_skillsarea_list_line2"
    "overview_skillsarea_list_line3"
    "overview_skillsarea_list_line4"
    "overview_skillsarea_list_line5"
    "overview_skillsarea_list_line6"
    "overview_skillsarea_list_line7";
  grid-gap: 0px;
}

.overview_skillsarea_list_line1 {
  grid-area: overview_skillsarea_list_line1;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "overview_skillsarea_list_item01 overview_skillsarea_list_item02 overview_skillsarea_list_item03 overview_skillsarea_list_item04";
  grid-gap: 0px;
}
.overview_skillsarea_list_item01 {
  grid-area: overview_skillsarea_list_item01;
}
.overview_skillsarea_list_item02 {
  grid-area: overview_skillsarea_list_item02;
}
.overview_skillsarea_list_item03 {
  grid-area: overview_skillsarea_list_item03;
}
.overview_skillsarea_list_item04 {
  grid-area: overview_skillsarea_list_item04;
}

.overview_skillsarea_list_line2 {
  grid-area: overview_skillsarea_list_line2;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "overview_skillsarea_list_item05 overview_skillsarea_list_item06 overview_skillsarea_list_item07";
  grid-gap: 0px;
}
.overview_skillsarea_list_item05 {
  grid-area: overview_skillsarea_list_item05;
}
.overview_skillsarea_list_item06 {
  grid-area: overview_skillsarea_list_item06;
}
.overview_skillsarea_list_item07 {
  grid-area: overview_skillsarea_list_item07;
}

.overview_skillsarea_list_line3 {
  grid-area: overview_skillsarea_list_line3;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "overview_skillsarea_list_item08 overview_skillsarea_list_item09 overview_skillsarea_list_item10 overview_skillsarea_list_item11 overview_skillsarea_list_item12";
  grid-gap: 0px;
}
.overview_skillsarea_list_item08 {
  grid-area: overview_skillsarea_list_item08;
}
.overview_skillsarea_list_item09 {
  grid-area: overview_skillsarea_list_item09;
}
.overview_skillsarea_list_item10 {
  grid-area: overview_skillsarea_list_item10;
}
.overview_skillsarea_list_item11 {
  grid-area: overview_skillsarea_list_item11;
}
.overview_skillsarea_list_item12 {
  grid-area: overview_skillsarea_list_item12;
}

.overview_skillsarea_list_line4 {
  grid-area: overview_skillsarea_list_line4;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "overview_skillsarea_list_item13 overview_skillsarea_list_item14 overview_skillsarea_list_item15 overview_skillsarea_list_item16";
  grid-gap: 0px;
}
.overview_skillsarea_list_item13 {
  grid-area: overview_skillsarea_list_item13;
}
.overview_skillsarea_list_item14 {
  grid-area: overview_skillsarea_list_item14;
}
.overview_skillsarea_list_item15 {
  grid-area: overview_skillsarea_list_item15;
}
.overview_skillsarea_list_item16 {
  grid-area: overview_skillsarea_list_item16;
}

.overview_skillsarea_list_line5 {
  grid-area: overview_skillsarea_list_line5;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "overview_skillsarea_list_item17 overview_skillsarea_list_item18 overview_skillsarea_list_item19";
  grid-gap: 0px;
}
.overview_skillsarea_list_item17 {
  grid-area: overview_skillsarea_list_item17;
}
.overview_skillsarea_list_item18 {
  grid-area: overview_skillsarea_list_item18;
}
.overview_skillsarea_list_item19 {
  grid-area: overview_skillsarea_list_item19;
}

.overview_skillsarea_list_line6 {
  grid-area: overview_skillsarea_list_line6;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "overview_skillsarea_list_item20 overview_skillsarea_list_item21 overview_skillsarea_list_item22 overview_skillsarea_list_item23";
  grid-gap: 0px;
}
.overview_skillsarea_list_item20 {
  grid-area: overview_skillsarea_list_item20;
}
.overview_skillsarea_list_item21 {
  grid-area: overview_skillsarea_list_item21;
}
.overview_skillsarea_list_item22 {
  grid-area: overview_skillsarea_list_item22;
}
.overview_skillsarea_list_item23 {
  grid-area: overview_skillsarea_list_item23;
}

.overview_skillsarea_list_line7 {
  grid-area: overview_skillsarea_list_line7;
  margin: auto; /* center horizontally */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "overview_skillsarea_list_item24 overview_skillsarea_list_item25 overview_skillsarea_list_item26";
  grid-gap: 0px;
}
.overview_skillsarea_list_item24 {
  grid-area: overview_skillsarea_list_item24;
}
.overview_skillsarea_list_item25 {
  grid-area: overview_skillsarea_list_item25;
}
.overview_skillsarea_list_item26 {
  grid-area: overview_skillsarea_list_item26;
}

.workhistory {
  grid-area: workhistory;
}
.workhistory_label {
  background-color: gray;
  width: 25%;
  padding: 10px;
  margin-bottom: -10px;
  margin-left: -10px;
}
.workhistory_hr {
  background-color: gray;
  width: 102%;
  height: 2px;
  margin-left: -10px;
}


.education {
  grid-area: education;
}
.education_label {
  background-color: gray;
  width: 25%;
  padding: 10px;
  margin-bottom: -10px;
  margin-left: -10px;
}
.education_hr {
  background-color: gray;
  width: 102%;
  height: 2px;
  margin-left: -10px;
}


.learning {
  grid-area: learning;
}
.learning_label {
  background-color: gray;
  width: 25%;
  padding: 10px;
  margin-bottom: -10px;
  margin-left: -10px;
}
.learning_hr {
  background-color: gray;
  width: 102%;
  height: 2px;
  margin-left: -10px;
}

.awards {
  grid-area: awards;
}
.awards_label {
  background-color: gray;
  width: 25%;
  padding: 10px;
  margin-bottom: -10px;
  margin-left: -10px;
}
.awards_hr {
  background-color: gray;
  width: 102%;
  height: 2px;
  margin-left: -10px;
}

@media print {
  /* remove any screen only styles, for example link underline */
  .box {
    margin: 10px;
    padding: 5px;
    box-shadow: none;
  }
}

@page {
  padding: 0;
  margin: 0cm;
  size: A4 portrait;
}
