
/* NOTE: if you are changing complex grid, make/comment-out copy, and make changes gradually */
/* NOTE: columns/rows need to match area */
/* NOTE: no duplicate area-names in the area section */

.box {
  margin: 10px;
  padding: 5px;
  /* DEBUG: uncomment to see boxes around pieces */
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
}

.resume {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "overview"
    "workhistory"
    "education"
    "learning"
    "awards";
}

@media (min-width: 1200px) {
  .resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "header overview"
      "workhistory education"
      "learning awards";
    grid-gap: 5px;
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header_fullname"
    "header_contact";
}

.header_fullname {
  grid-area: header_fullname;
  margin: auto; /* center horizontally */
}

.header_contact {
  grid-area: header_contact;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header_contact_cell header_contact_seperator1 header_contact_address header_contact_seperator2 header_contact_email header_contact_seperator3 header_contact_linkedin";
}

.header_contact_cell {
  grid-area: header_contact_cell;
}

.header_contact_seperator1 {
  grid-area: header_contact_seperator1;
  margin: auto; /* center horizontally */
}

.header_contact_address {
  grid-area: header_contact_address;
}

.header_contact_seperator2 {
  grid-area: header_contact_seperator2;
  margin: auto; /* center horizontally */
}

.header_contact_email {
  grid-area: header_contact_email;
}

.header_contact_seperator3 {
  grid-area: header_contact_seperator3;
  margin: auto; /* center horizontally */
}

.header_contact_linkedin {
  grid-area: header_contact_linkedin;
}

.header_contact_hr {
  width: 100%;
}

.overview {
  grid-area: overview;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_titlearea"
    "overview_summaryarea"
    "overview_qualificationsarea"
    "overview_skillsarea";
}

.overview_titlearea {
  grid-area: overview_titlearea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "overview_titlearea_title"
    "overview_titlearea_subtitle";
}

.overview_titlearea_title {
  grid-area: overview_titlearea_title;
  margin: auto; /* center horizontally */
}

.overview_titlearea_subtitle {
  grid-area: overview_titlearea_subtitle;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1rf;
  grid-template-rows: 1fr;
  grid-template-areas: "overview_subtitlearea_left overview_subtitlearea_part1 overview_subtitlearea_seperator1 overview_subtitlearea_part2 overview_subtitlearea_seperator2 overview_subtitlearea_part3 overview_subtitlearea_seperator3 overview_subtitlearea_part4 overview_subtitlearea_right";
}

.overview_subtitlearea_left {
  grid-area: overview_subtitlearea_left;
}

.overview_subtitlearea_part1 {
  grid-area: overview_subtitlearea_part1;
}

.overview_subtitlearea_seperator1 {
  grid-area: overview_subtitlearea_seperator1;
}

.overview_subtitlearea_part2 {
  grid-area: overview_subtitlearea_part2;
}

.overview_subtitlearea_seperator2 {
  grid-area: overview_subtitlearea_seperator2;
}
.overview_subtitlearea_part3 {
  grid-area: overview_subtitlearea_part3;
}
.overview_subtitlearea_seperator3 {
  grid-area: overview_subtitlearea_seperator3;
}
.overview_subtitlearea_part4 {
  grid-area: overview_subtitlearea_part4;
}
.overview_subtitlearea_right {
  grid-area: overview_subtitlearea_right;
}

.overview_summaryarea {
  grid-area: overview_summaryarea;
}

.overview_qualificationsarea {
  grid-area: overview_qualificationsarea;
}

.overview_skillsarea {
  grid-area: overview_skillsarea;
}

.workhistory {
  grid-area: workhistory;
}

.education {
  grid-area: education;
}

.learning {
  grid-area: learning;
}

.awards {
  grid-area: awards;
}

@media print {
  /* remove any screen only styles, for example link underline */
  .box {
    margin: 10px;
    padding: 5px;
    box-shadow: none;
  }
}

@page {
  padding: 0;
  margin: 0cm;
  size: A4 portrait;
}
